In [3]:
import pandas as pd
import numpy as np
from os import path as os_path, getcwd
from sys import path as sys_path
import matplotlib.pyplot as plt

import time

import gdax

import datetime

In [ ]:
# Get data every 15min between 2 dates
public_client = gdax.PublicClient()
dt = datetime.timedelta(minutes=2*60+15)
begin = datetime.datetime(2017, 1, 1, 0, 0) # Change begin date (YYYY/DD/MM/h/min)
end = datetime.datetime(2017, 2, 1, 0, 0)   # Change end date

current_time = begin
df_year = pd.DataFrame()
while(current_time < end):
    data=public_client.get_product_historic_rates('ETH-USD', start = current_time, end = current_time + dt, granularity=900)
    df = pd.DataFrame(data, columns=['time','low','high','open', 'close', 'volume'])
    df.time = pd.to_datetime(df['time'], unit='s')
    current_time = df.time[0]
    df=df.iloc[::-1].reset_index(drop=True)
    df_year = df_year.append(df)
    time.sleep(0.5)
    print(current_time)
df_year = df_year.reset_index(drop=True)

2017-01-01 02:00:00
2017-01-01 04:00:00
2017-01-01 06:00:00
2017-01-01 08:00:00
2017-01-01 10:00:00
2017-01-01 12:00:00
2017-01-01 14:00:00
2017-01-01 16:00:00
2017-01-01 18:00:00
2017-01-01 20:00:00
2017-01-01 22:00:00
2017-01-02 00:00:00
2017-01-02 02:00:00
2017-01-02 04:00:00
2017-01-02 06:00:00
2017-01-02 08:00:00
2017-01-02 10:00:00
2017-01-02 12:00:00
2017-01-02 14:00:00
2017-01-02 16:00:00
2017-01-02 18:00:00
2017-01-02 20:00:00
2017-01-02 22:00:00
2017-01-03 00:00:00

In [10]:
display(df_year)
df_year.to_pickle("ETH_USD_2017_2018_15min.pkl")

                   time    low   high   open  close       volume
0   2017-01-01 00:00:00   8.11   8.16   8.16   8.16   378.420945
1   2017-01-01 00:15:00   8.16   8.24   8.16   8.24   252.619480
2   2017-01-01 00:30:00   8.24   8.27   8.24   8.27   237.637246
3   2017-01-01 00:45:00   8.25   8.27   8.27   8.26   109.079011
4   2017-01-01 01:00:00   8.26   8.29   8.26   8.29   270.898827
5   2017-01-01 01:15:00   8.27   8.29   8.27   8.29   280.979249
6   2017-01-01 01:30:00   8.27   8.29   8.29   8.28    84.835125
7   2017-01-01 01:45:00   8.28   8.29   8.28   8.29   393.862555
8   2017-01-01 02:00:00   8.30   8.30   8.30   8.30    11.993290
9   2017-01-01 02:00:00   8.30   8.30   8.30   8.30    11.993290
10  2017-01-01 02:15:00   8.30   8.45   8.30   8.45   964.297451
11  2017-01-01 02:30:00   8.47   8.53   8.47   8.51   462.655587
12  2017-01-01 02:45:00   8.46   8.51   8.50   8.47   154.211743
13  2017-01-01 03:00:00   8.45   8.49   8.45   8.49   119.844017
14  2017-01-01 03:15:00   8.51   8.59   8.51   8.59  1009.816042
15  2017-01-01 03:30:00   8.58   8.60   8.59   8.59   650.118874
16  2017-01-01 03:45:00   8.58   8.59   8.59   8.59   405.815166
17  2017-01-01 04:00:00   8.57   8.60   8.58   8.58   184.624275
18  2017-01-01 04:00:00   8.57   8.60   8.58   8.58   184.624275
19  2017-01-01 04:15:00   8.50   8.58   8.58   8.50   204.723572
20  2017-01-01 04:30:00   8.52   8.54   8.52   8.53   120.419928
21  2017-01-01 04:45:00   8.49   8.54   8.54   8.53   264.477704
22  2017-01-01 05:00:00   8.50   8.54   8.53   8.50   118.023231
23  2017-01-01 05:15:00   8.48   8.52   8.52   8.50   418.658071
24  2017-01-01 05:30:00   8.48   8.52   8.50   8.48   285.262213
25  2017-01-01 05:45:00   8.37   8.48   8.48   8.37   301.123855
26  2017-01-01 06:00:00   8.38   8.41   8.38   8.41    25.404527
27  2017-01-01 06:00:00   8.38   8.41   8.38   8.41    25.404527
28  2017-01-01 06:15:00   8.37   8.42   8.41   8.37   192.236083
29  2017-01-01 06:30:00   8.41   8.42   8.41   8.42     8.043988
..                  ...    ...    ...    ...    ...          ...
510 2017-01-05 17:30:00   9.84   9.97   9.89   9.97   236.431135
511 2017-01-05 17:45:00   9.95  10.14   9.97  10.10  1933.851402
512 2017-01-05 18:00:00  10.01  10.19  10.06  10.19  1431.089790
513 2017-01-05 18:00:00  10.01  10.19  10.06  10.19  1431.089790
514 2017-01-05 18:15:00  10.18  10.43  10.19  10.18  1670.378277
515 2017-01-05 18:30:00  10.13  10.23  10.17  10.20   635.710196
516 2017-01-05 18:45:00  10.14  10.24  10.20  10.22   401.607448
517 2017-01-05 19:00:00  10.08  10.24  10.22  10.08   791.322654
518 2017-01-05 19:15:00   9.87  10.12  10.08   9.87   694.482337
519 2017-01-05 19:30:00   9.87  10.00   9.89   9.98   753.234056
520 2017-01-05 19:45:00   9.99  10.15  10.00  10.12   824.400495
521 2017-01-05 20:00:00  10.03  10.16  10.12  10.11   196.402510
522 2017-01-05 20:00:00  10.03  10.16  10.12  10.11   196.402510
523 2017-01-05 20:15:00  10.12  10.20  10.15  10.16   246.217860
524 2017-01-05 20:30:00  10.11  10.20  10.18  10.19   616.211451
525 2017-01-05 20:45:00  10.10  10.19  10.15  10.19   374.078990
526 2017-01-05 21:00:00  10.10  10.19  10.19  10.10   207.468618
527 2017-01-05 21:15:00  10.03  10.14  10.10  10.09   971.296731
528 2017-01-05 21:30:00  10.03  10.12  10.06  10.03   680.584904
529 2017-01-05 21:45:00  10.02  10.10  10.06  10.10   294.220037
530 2017-01-05 22:00:00  10.09  10.18  10.09  10.18   414.870234
531 2017-01-05 22:00:00  10.09  10.18  10.09  10.18   414.870234
532 2017-01-05 22:15:00  10.11  10.21  10.17  10.21   521.366161
533 2017-01-05 22:30:00  10.17  10.23  10.18  10.19  1372.800713
534 2017-01-05 22:45:00  10.20  10.30  10.20  10.30   709.805934
535 2017-01-05 23:00:00  10.30  10.47  10.30  10.34  2381.881120
536 2017-01-05 23:15:00  10.25  10.37  10.33  10.27   932.160534
537 2017-01-05 23:30:00  10.16  10.25  10.25  10.19   369.707337
538 2017-01-05 23:45:00  10.16  10.29  10.17  10.23   177.659116
539 2017-01-06 00:00:00  10.22  10.26  10.23  10.26   489.997843

[540 rows x 6 columns]